# Ignore Migrations folder
**/Migrations/

# Ignore appsettings files
appsettings.json
appsettings.Development.json

# Ignore Visual Studio .vs folder
.vs/

# Other common .NET files to ignore
bin/
obj/
.vscode/
*.log
*.user
*.rsuser
*.suo
*.swp
